body {
    font-family: 'Arial', sans-serif;
    margin: 1%;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 1%;
    margin: 1%;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
.content {
    min-height: calc(100vh - 100px); /* Высота минус высота футера */
}
    
  /* Стиль для таблицы игроков */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  /* Стиль для формы создания игрока */
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }

  button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    
  /* Стиль для деталей игрока */
  .entities-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .entities-details h2 {
    margin-top: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Обеспечивает заполнение всей высоты экрана */
  }
  
  footer {
    background-color: #34495e; /* Цвет фона подвала */
    color: white; /* Цвет текста */
    text-align: center; /* Центрируем текст */
    padding: 10px; /* Отступы */
    position: relative; /* Позиционирование для фиксированного подвала (если нужно) */

  }